<html>
    <head>
        <link href="/assets/style/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Person: <%= id %></h1>
        <h2>QueryString value: <%= Qstr %></h2>
    </body>
</html>